*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}


a{
    text-decoration: none;
    display: inline-block;
}
 body{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .container{
     width: 1280px;
     margin: 0 auto;
     padding: 20px;
   
 }

 img{
     width: 100%;
 }

 .headr{
     background-color: rgb(57, 57, 189);
 }

 
 .nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav_title{
    display: flex;
}

.nav_item{
    margin: 20px;
    position: relative;
    left: 150px;
}

.link{
    color: white;
    transition: .4s;
}

.link:hover{
   color: cyan;
}

.link1{
    color: darkgrey;
    transition: .4s;
}

.link1:hover{
    color: rgb(0, 233, 0);
}

.link12{
    color: white;
}

.nav_text{
    color: white;
}

.link12{
    font-weight: bold;
    position: relative;
    left: 260px;
}

.span_img{
    width: 18px;
    position: relative;
    right:  15px;
}

/*main*/

.main_title{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.heard_title1{
    color: white;
}

.main_text{
    font-size: 45px;
    width: 70%;
    position: relative;
    bottom: 50px;
}

.main_textt{
    width: 70%;
    line-height: 30px;
    letter-spacing: 1px;
    color: rgb(202, 198, 198);
    position: relative;
    bottom: 32px;
}

.span_link{
    color: white;
    background-color: yellowgreen;
    font-weight: bold;
    padding: 10px;
    height: 2%;
    border-radius: 7px;
    position: relative;
    left: 20px;
    top: 10px;
    transition: .4s;
}

.span_link:hover{
    background-color: turquoise;
}

.main_span{
    font-size: 40px;
    position: relative;
    left: 5px;
}

.span_text{
    color: rgb(202, 198, 198);
    font-weight: bold;
    position: relative;
    left: 5px;
}


.mainn_item{
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    background-color: rgb(91, 91, 216);
    border-radius: 10px;
}

.main_link{
    color: black;
    background-color: rgb(235, 175, 10);
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 140px;
    padding: 9px 30px;
    border-radius: 5px;
    transition: .4s;
}

.main_link:hover{
    background-color: turquoise;
}

/*main1*/
.latter{
    margin-top: 200px;
}

.latter_title{
    display: flex;
    align-items: center;
}

.latter_img{
    width: 40px;
    position: relative;
    left: -13px;
} 

.photo{
    width: 100%;
}

.latter_text{
    font-size: 50px;
    width: 70%;
    position: relative;
    bottom: 30px;
    left: 100px;
}

.latter_textt{
    width: 76%;
    position: relative;
    left: 100px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(153, 144, 144);
}

.latter__title{
    position: relative;
    top: 30px;
    left: 130px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 30px 0px;
}

.latter_text_{
    position: relative;
    left: 40px;
    bottom: 15px;
    color: rgb(138, 129, 129);
    font-weight: bold;
}


/*section*/

.sect{
    margin-top: 200px;
    background-color: rgb(67, 67, 99);
    height: 600px;
}

.set_text{
    font-size: 45px;
    width: 30%;
    position: relative;
    left: 450px;
    bottom: 60px;
    color: white;
    top: 103px;
}

.sect_img{
    width: 37px;
    position: relative;
    top: 10px;
    left: 10px;
}

.sect_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-left: 10px;
    top: 200px;
}

.sect_titlee{
   width: 26%;
   margin: 10px 0px;
}

.photooo{
    background-color: white;
    height: 55px;
    border-radius: 10px;
}

.sect_textt_{
    position: relative;
    left: 60px;
    bottom: 27px;
    font-weight: bold;
}

.mainn .container{
    margin-top: 00px;
}

.mainn_photo{
    display: flex;
    width: 40%;
    margin-left: 100px;
}

.mainn_img{
    width: 70%;
}

.mainn_img{
    width: 60%;
   position: relative;
   right: -70px;
}

.mainn_text{
    font-size: 45px;
    margin-left: 550px;
    position: relative;
    bottom: 100px;
}

.mainn_textt{
    width: 33%;
    text-align: center;
    margin-left: 480px;
    position: relative;
    bottom: 60px;
    line-height: 30px;
    color: rgb(138, 129, 129);
}

.mainn_title1{
    display: flex;
    align-items: center;
}

.mainn1{
    background-color: rgb(61, 61, 216);
}

.mainn_text1{
    font-size: 50px;
    width: 90%;
    color: white;
    position: relative;
    left: 200px;
    top: 15px;
}

.mainn_photo1{
    width: 100%;
}

.mainn_textt1{
    width: 80%;
    color: white;
    position: relative;
    top: 40px;
    line-height: 30px;
    left: 200px;
}

.mainn_link{
    position: relative;
    top: 100px;
    left: 200px;
    color: black;
    background-color: rgba(255, 217, 0, 0.863);
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 8px;
    transition: .4s;
}

.mainn_link:hover{
    background-color: mediumspringgreen;
}





.section_1{
    margin-top: 200px;
}

.section_text{
    font-size: 45px;
    margin-left: 400px;
    position: relative;
    bottom: 100px;
}

.section_textt{
    text-align: center;
    width: 37%;
    margin-left: 330px;
    position: relative;
    bottom: 70px;
    line-height: 30px;
    color: rgb(102, 93, 93);
    font-weight: bold;
}


.wwww{
   display: flex;
}

.section_text_span1{
    width: 30%;
    font-weight: bold;
    color: rgb(77, 74, 74);
    position: relative;
    left: 250px;
    line-height: 25px;
}

.section_text_span2{
    width: 30%;
    font-weight: bold;
    color: rgb(77, 74, 74);
    position: relative;
    left: 640px;
    bottom: 187px;
    line-height: 25px;
}

.lllll{
    position: relative;
    left: 300px;
}

.span_img1{
    position: relative;
    left: 240px;
    width: 35px;
    top: 45px;
}

.ggggg{
    position: relative;
    left: 690px;
    bottom: 185px;
}

.span_img2{
    position: relative;
    left: 639px;
    width: 35px;
    top: -140px;
}

.main_1_textt{
    font-size: 50px;
    width: 45%;
    color: white;
}

.main_1_link{
    margin-left: 1000px;
    position: relative;
    bottom: 80px;
    color: black;
    background-color: gold;
    padding: 13px 50px;
    font-weight: bold;
    transition: .4s;
    border-radius: 6px;
}

.main_1_link:hover{
    background-color: turquoise;
}

.main_1{
    background-color: rgb(66, 66, 160);
}








.main_123{
    margin-top: 300px;
}

.title_123{
    color: white;
}

.photo_123{
    display: flex;
    width: 65%;
}

.text_123{
    position: relative;
    bottom: 200px;
    font-size: 60px;
    color: black;
    margin-left: 355px;
}

.text1_123{
    width: 40%;
    text-align: center;
    margin-left: 350px;
    position: relative;
    bottom: 160px;
    line-height: 30px;
    color: rgb(136, 127, 127);
}

.img_1234{
    position: relative;
    right: 70px;
}


.title_1{
    background-color: rgb(64, 64, 129);
}

.title_1 .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}

.big__text{
    position: relative;
    right: -27px;
    bottom: 20px;
}


.main_title_3{
    font-size: 60px;
    width: 90%;
    color:black;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.main_title_8{
    color: darkgray;
    width: 85%;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
}

.main__link{
   color: black;
   background-color: orange;
   margin-right: 20px;
   border: orange solid 1px;
   border-radius: 10px;
   padding: 10px 36px ;
   transition: .4s;
   font-weight: bold;
   letter-spacing: 1px;
   position: relative;
   bottom: -30px;
}

.main__link:hover{
    background-color: cyan;
}


.main_title_7{
    width: 150%;
    position: relative;
    right: 120px;
}

.main_title_2{
    display: flex;
}


