*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}


a{
    text-decoration: none;
    display: inline-block;
}
 body{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .container{
     width: 1280px;
     margin: 0 auto;
     padding: 20px;
   
 }

 img{
     width: 100%;
 }

 .headr{
     background-color: rgb(57, 57, 189);
 }

 
 .nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav_title{
    display: flex;
}

.nav_item{
    margin: 20px;
    position: relative;
    left: 150px;
}

.link{
    color: white;
}

.link1{
    color: darkgrey;
}

.link12{
    color: white;
}

.nav_text{
    color: white;
}

.link12{
    font-weight: bold;
    position: relative;
    left: 260px;
}

.span_img{
    width: 18px;
    position: relative;
    right:  15px;
}

/*main*/

.main_title{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.heard_title1{
    color: white;
}

.main_text{
    font-size: 45px;
    width: 70%;
    position: relative;
    bottom: 50px;
}

.main_textt{
    width: 70%;
    line-height: 30px;
    letter-spacing: 1px;
    color: rgb(202, 198, 198);
    position: relative;
    bottom: 32px;
}

.span_link{
    color: white;
    background-color: yellowgreen;
    font-weight: bold;
    padding: 10px;
    height: 2%;
    border-radius: 7px;
    position: relative;
    left: 20px;
    top: 10px;
}

.main_span{
    font-size: 40px;
    position: relative;
    left: 5px;
}

.span_text{
    color: rgb(202, 198, 198);
    font-weight: bold;
    position: relative;
    left: 5px;
}


.mainn_item{
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    background-color: rgb(91, 91, 216);
    border-radius: 10px;
}

.main_link{
    color: black;
    background-color: rgb(235, 175, 10);
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 140px;
    padding: 9px 30px;
    border-radius: 5px;
}

/*main1*/
.latter{
    margin-top: 200px;
}

.latter_title{
    display: flex;
    align-items: center;
}

.latter_img{
    width: 40px;
    position: relative;
    left: -13px;
} 

.photo{
    width: 100%;
}

.latter_text{
    font-size: 50px;
    width: 70%;
    position: relative;
    bottom: 30px;
    left: 100px;
}

.latter_textt{
    width: 76%;
    position: relative;
    left: 100px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(153, 144, 144);
}

.latter__title{
    position: relative;
    top: 30px;
    left: 130px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 30px 0px;
}

.latter_text_{
    position: relative;
    left: 40px;
    bottom: 15px;
    color: rgb(138, 129, 129);
    font-weight: bold;
}


/*section*/

.sect{
    margin-top: 200px;
}

.set_text{
    font-size: 45px;
    width: 30%;
    position: relative;
    left: 450px;
    bottom: 60px;
}

.sect_img{
    width: 37px;
}

.sect_item{
    display: flex;
    flex-wrap: wrap;
}

.sect_titlee{
   
    width: 23%;
}